/* line 3 */
body {
  background: #eeeeee;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

/* line 7 */
#warped {
  background: white;
  position: absolute;
  z-index: 1;
  height: 25px;
  line-height: 25px;
  padding: 25px 0;
  text-align: center;
  width: 500px;
  top: 100px;
  left: 50%;
  margin-left: -250px;
}

/* line 20 */
#right_warp {
  position: absolute;
  top: 141px;
  z-index: -1;
  width: 400px;
  right: 50%;
  margin-right: -238px;
  height: 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 50px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 50px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 50px;
  -moz-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  transform: rotate(4deg);
}

/* line 31 */
#left_warp {
  position: absolute;
  top: 141px;
  bottom: 7px;
  z-index: -1;
  width: 400px;
  height: 20px;
  left: 50%;
  margin-left: -238px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 50px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 50px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 50px;
  -moz-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
